body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(217, 233, 248);
}

#welcomeSection {
    text-align: center;
    

}

.projectHeading {
    text-align: center;
}

#projectTitle {
    text-align: center;
}

p {
    text-align: center;
}

#projectSection {

}

#pageTop {
    text-align: center;
}



